.profile__button-edit {
  width: 24px;
  height: 24px;
  background: url(../../../images/vector-pen.svg) center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 7px;
  margin-top: 15px;
  transition: 0.3s;
}

.profile__button-edit:hover {
  cursor: pointer;
  opacity: 60%;
}

@media (max-width: 767px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    padding: 5.25px;
    margin-top: 8px;
    margin-right: 19px;
  }
}
