.form__button-submit {
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: 0;
  margin: 0;
  margin-top: 18px;
  cursor: pointer;
  transition: opacity 0.3s;
  background-color: #000000;
  font-family: inherit;
}

.form__button-submit:disabled {
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  cursor: default;
  opacity: 100%;
}

.form__button-submit:hover {
  cursor: pointer;
  opacity: 60%;
}

@media (max-width: 767px) {
  .form__button-submit {
    margin-top: 15px;
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}
