.profile__button-add {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #ffffff;
  transition: opacity 0.3s;
  margin: 0 auto;
  margin-right: 0;
  margin-top: 35px;
}

.profile__button-add:hover {
  cursor: pointer;
  opacity: 60%;
}

@media (max-width: 767px) {
  .profile__button-add {
    width: 282px;
    border-width: 2px;
    margin-right: auto;
    margin-top: 36px;
  }
}
