.element__button-like {
  min-width: 22px;
  height: 19px;
  background: url(../../../images/vector-like.svg) center no-repeat;
  background-size: contain;
  background-color: transparent;
  transition: 0.3s;
  margin: 0;
  margin: 5px 5px 1px 0;
  border: none;
  transition: 0.3s;
  padding: 0;
}

.element__button-like:hover {
  cursor: pointer;
  opacity: 60%;
}

